@import '../Mixins.scss';

$house-size: 80px;

.st-map {
	height: 300px;
	flex: 0 0 auto;
	background: $st-basil;
}

.st-map--container {
	position: relative;

    transition: transform 1s;

    width: 100%;
    height: 100%;
}

.st-house-icon {
	width: $house-size;
	height: $house-size;
	border: 5px solid $st-orange-leaves;
	color: $st-background;

	position: absolute;

	.st-house-icon--button {
		width: 100%;
		height: 100%;
	}
}