@import '../Mixins.scss';

.st-display {
	border-top: 4px solid $st-basil;

	flex: 1 1 auto;
	min-height: 200px;
	height: auto;
	background: $st-background;

    display: flex;
    flex-direction: row;

    padding-left: 10%;
    padding-right: 10%;

    span + span {
    	margin-top: 10px;
    	display: block; // forgive me css gods
    }
}
// thank cssarrowplease
.arrow_box {
	position: relative;
	background: $st-basil;
}
.arrow_box::after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $st-basil;
	border-width: 30px;
	margin-left: -30px;
}

.st-display--left,
.st-display--right {
	flex: 0 0 auto;
}

// Action Content
.st-display--middle {
	flex: 1 1 auto;
	height: auto;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	text-align: left;
}
.st-display-text {
	flex: 1 1 auto;
	height: auto;
	min-height: 50px;

	overflow-y: auto;
}
.st-display-actions {
	flex: 0 0 auto;
	min-height: 50px;
	height: auto;

	display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}