$st-candy-item-size: 50px;

.st-candy-item {
	border: 3px solid white;
	border-radius: 50%;

	width: $st-candy-item-size;
	height: $st-candy-item-size;

	color: white;

	flex: 0 0 auto;
}

.st-candy-item--button {
	color: white;

	width: 100%;
	height: 100%;
}

.st-candy-item + .st-candy-item {
	margin-left: 20px;
}