@import '../Mixins.scss';

.st-map-house {
	width: $house-size;
	height: $house-size;
	border: 5px solid;
	color: $st-background;

	position: absolute;

	&:not(.mod-visited):not(.mod-not-visited) {
		border-color: $st-orange-leaves;
	}
	&.mod-visited {
		border-color: $st-apple-red;
	}
	&.mod-not-visited {
		border-color: $st-dirty-beige;
	}

	.st-map-house--button {
		width: 250px;
    	height: 350px;
		background: $st-dirty-beige;
		color: white;
	    margin-top: 30px;
	}

}