.st-display {
  flex: 1 1 auto;
  height: 100%;
  background: #232323;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 3px solid #c78c4a; }

.st-display--left,
.st-display--right {
  flex: 0 0 auto; }

.st-display--middle {
  flex: 1 1 auto;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left; }

.st-display-text {
  flex: 1 1 auto; }

.st-display-actions {
  flex: 0 0 auto;
  height: 50px; }
