.st-display {
  border-top: 4px solid #7a9c7a;
  flex: 1 1 auto;
  min-height: 200px;
  height: auto;
  background: #232323;
  display: flex;
  flex-direction: row; }
  .st-display span + span {
    margin-top: 10px;
    display: block; }
  .st-display .st-display--next-house-button {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px; }
    .st-display .st-display--next-house-button:disabled {
      color: #949494;
      cursor: default; }

.st-display--left,
.st-display--right {
  flex: 0 0 auto;
  height: auto;
  width: 100px; }

.st-display--left {
  border-right: 2px solid #7a9c7a; }

.st-display--right {
  border-left: 2px solid #7a9c7a; }

.st-display--middle {
  flex: 1 1 auto;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left; }

.st-display-text {
  flex: 1 1 auto;
  height: auto;
  min-height: 50px;
  overflow-y: auto; }

.st-display-actions {
  flex: 0 0 auto;
  min-height: 50px;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; }
